.binclock {
    margin: 16px auto;
    border-collapse: separate;
    border-spacing: 4px;
    width: auto;
}

.binclock td {
    margin: 4px;
}

.binclock .bc_on,
.bc_off {
    width: 24px;
    height: 24px;
    border: 2px solid #999;
}

.binclock .bc_on {
    background-color: #ccc;
}
